<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>

      <extensions>
        <bindingElementExtensions>
          <add name="dynamicEncoder" type="WinRTSync.DinamicEncoder.Configuration.DynamicEncoderBindingElementExtension, WinRTSync.DinamicEncoder" />
        </bindingElementExtensions>
      </extensions>

      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISyncDataService" />
            </basicHttpBinding>

          <customBinding>
          <binding name="Custom" receiveTimeout="10:00:00" closeTimeout="10:00:00">
            <dynamicEncoder defaultMessageEncoding="BinaryMessageEncoding" providers="CLR" algorithms="All" levels="All" >
              <BinaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="32"/>
              <TextMessageEncoding maxReadPoolSize="64" maxWritePoolSize="32"/>
            </dynamicEncoder>
            <httpTransport maxReceivedMessageSize="104857600" />
          </binding>

          </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.39.143:8000/WinRTSync/SyncDataService/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncDataService"
                contract="Client.ISyncDataService" name="BasicHttpBinding_ISyncDataService" />
          
            <endpoint address="http://localhost:8000/WinRTSync/SyncDataService/adatptiveEncoder"
                binding="customBinding" bindingConfiguration="Custom" contract="Client.ISyncDataService"
                name="CustomEndPoint" />
        </client>
    </system.serviceModel>
</configuration>