<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GoodStockService" />
                <binding name="BetterStockService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="BestStockService" />
                <binding name="AllStockService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/WCFMultipleContractsService/"
                binding="basicHttpBinding" bindingConfiguration="GoodStockService"
                contract="MultipleEndpointClientWCF.IGoodStockService" name="GoodStockService" />
            <endpoint address="http://localhost:8000/WCFMultipleContractsService/better"
                binding="basicHttpBinding" bindingConfiguration="BetterStockService"
                contract="MultipleEndpointClientWCF.IGreatStockService" name="BetterStockService" />
            <endpoint address="http://localhost:8000/WCFMultipleContractsService/best"
                binding="wsHttpBinding" bindingConfiguration="BestStockService"
                contract="MultipleEndpointClientWCF.IGreatStockService" name="BestStockService">
                <identity>
                    <userPrincipalName value="nrpopov@ad.tlogica.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/WCFMultipleContractsService/all"
                binding="wsHttpBinding" bindingConfiguration="AllStockService"
                contract="MultipleEndpointClientWCF.IGreatStockService" name="AllStockService" />
        </client>
    </system.serviceModel>
</configuration>