<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NetPeerTcpBinding_IPeerNetwork">
          <binaryMessageEncoding />
          <peerTransport>
            <security mode="None" />
          </peerTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.p2p://peerchat/GetName" binding="customBinding"
          bindingConfiguration="NetPeerTcpBinding_IPeerNetwork" contract="Client.IPeerNetwork"
          name="NetPeerTcpBinding_IPeerNetwork" />
    </client>
  </system.serviceModel>
</configuration>